/* CONSTANTS */
$text-color-primary: #2f1b15;
$text-color: #3d3d3d;

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
}

.fullpage {
  width: 1000px;
  height: 100%;

  margin: 0 auto;

  background: url('../images/background.jpg') no-repeat;
  background-size: cover;

  color: $text-color-primary;
}

.content {
  width: 771px;
  height: 100%;

  border-left: 1px solid #4affff;
  border-right: 1px solid #4affff;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 260px 269px 242px;
  grid-template-rows: repeat(8, max-content);

  & .logo {
    grid-column: 1;
    grid-row: 1;

    float: left;
    margin: 0;
    margin-top: 65px;
  }

  & .stamp {
    grid-column: 3;
    grid-row: 1;

    position: relative;
    right: -21.6%;

    margin: 0;
    margin-top: 48px;
  }

  & .title {
    grid-column: 2;
    grid-row: 2;

    display: block;
    width: 218px;
    margin: 0;
    margin-bottom: 3em;
  }

  & .info-general {
    grid-column: 1/4;
    grid-row: 3;

    margin: 0;
    margin-bottom: 48px;

    & .info-general__field {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;

      height: 3.6em;

      & label {
        color: $text-color-primary;
        font-size: 1.3em;
        font-weight: bold;
      }

      & input {
        flex: auto;

        margin-left: 17px;
        padding: 0 16px;

        background: transparent;

        border-image: url('../images/input-text-border-bottom.png');
        border-image-slice: 4;
        border-bottom-width: 4px;
        border-top: none;
        border-left: none;
        border-right: none;

        font-family: 'Courier New', Courier, monospace;
        font-size: 1.8em;
        line-height: 1.5;
      }
    }
  }

  & .info-skills {
    grid-column: 1/4;
    grid-row: 4;

    padding: 0;

    & .info-skills__title {
      margin: 0;
      margin-bottom: 10px;
    }

    & .info-skills__description {
      margin: 0;
      margin-bottom: 25px;

      color: $text-color;
    }
  }

  & [class^='info-skills__checkmarks'] {
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
  }

  & .info-skills__field {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    & input {
      opacity: 0;
      position: absolute;
      cursor: pointer;
    }

    & input + label > img {
      position: absolute;
      visibility: hidden;
      top: -5px;
      left: 3px;
      cursor: pointer;
    }

    & input + label,
    & input + label::before {
      cursor: pointer;
    }

    & input + label::before {
      content: '';
      display: inline-block;

      margin-right: 10px;

      width: 18px;
      height: 18px;

      border-style: solid;
      border-image: url('../images/input-checkbox-border.png');
      border-image-slice: 3;
      border-image-width: 3px;

      vertical-align: middle;
    }

    & input:checked + label > img {
      visibility: visible;
    }
  }

  & .info-skills__checkmarks-col1 {
    grid-column: 1;
    grid-row: 5;
  }

  & .info-skills__checkmarks-col2 {
    grid-column: 2;
    grid-row: 5;
  }

  & .info-skills__checkmarks-col3 {
    grid-column: 3;
    grid-row: 5;
  }
}
