/* CONSTANTS */
$color-text-primary: #2f1b15;
$color-text-checkbox: #000;
$color-text-paragraph: #3d3d3d;

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
}

.fullpage {
  width: 1000px;
  height: 1900px;

  margin: 0 auto;

  background: url('../images/background.jpg') no-repeat;
  background-size: cover;

  color: $color-text-primary;
}

.content {
  width: 771px;
  height: 100%;

  border-left: 1px solid #4affff;
  border-right: 1px solid #4affff;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 260px 269px 242px;
  grid-template-rows: repeat(8, max-content);

  & .logo {
    grid-column: 1;
    grid-row: 1;

    float: left;
    margin: 0;
    margin-top: 65px;
  }

  & .stamp {
    grid-column: 3;
    grid-row: 1;

    position: relative;
    right: -21.6%;

    margin: 0;
    margin-top: 48px;
  }

  & .title {
    grid-column: 2;
    grid-row: 2;

    display: block;
    width: 218px;
    margin: 0;
    margin-bottom: 3em;
  }

  & .info-general {
    grid-column: 1/4;
    grid-row: 3;

    margin: 0;
    margin-bottom: 48px;

    & .info-general__field {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;

      height: 3.6em;

      & label {
        font-size: 1.3em;
        font-weight: bold;
      }

      & input {
        flex: auto;

        margin-left: 17px;
        padding: 0 16px;

        background: transparent;

        border-image: url('../images/input-text-border-bottom.png');
        border-image-slice: 4;
        border-bottom-width: 4px;
        border-top: none;
        border-left: none;
        border-right: none;

        font-family: 'Courier New', Courier, monospace;
        font-size: 1.8em;
        line-height: 1.5;
      }
    }
  }

  & .info-skills {
    grid-column: 1/4;
    grid-row: 4;

    padding: 0;

    & .info-skills__title {
      margin: 0;
      margin-bottom: 10px;
    }

    & .info-skills__description {
      margin: 0;
      margin-bottom: 25px;

      font-size: 0.94em;

      color: $color-text-paragraph;
    }
  }

  & [class^='info-skills__checkmarks'] {
    color: $color-text-checkbox;
    font-size: 1.3em;
    font-weight: bold;

    margin-bottom: 30px;
  }

  & .info-skills__field {
    position: relative;

    margin: 0;
    margin-bottom: 12px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    & input {
      opacity: 0;
      position: absolute;
      cursor: pointer;
    }

    & input + label > img {
      position: absolute;
      visibility: hidden;
      top: -5px;
      left: 3px;
      cursor: pointer;
    }

    & input + label,
    & input + label::before {
      cursor: pointer;
    }

    & input + label::before {
      content: '';
      display: inline-block;

      margin-right: 10px;

      width: 18px;
      height: 18px;

      border-style: solid;
      border-image: url('../images/input-checkbox-border.png');
      border-image-slice: 3;
      border-image-width: 3px;

      vertical-align: middle;
    }

    & input:checked + label > img {
      visibility: visible;
    }
  }

  & .info-skills__checkmarks-col1 {
    grid-column: 1;
    grid-row: 5;
  }

  & .info-skills__checkmarks-col2 {
    grid-column: 2;
    grid-row: 5;
  }

  & .info-skills__checkmarks-col3 {
    grid-column: 3;
    grid-row: 5;

    & .info-skills__field > label > div {
      width: 88%;
      float: right;
    }

    & .info-skills__field:last-child input + label > img {
      top: -10px;
    }
  }

  & .info-js {
    grid-column: 1 / 4;
    grid-row: 6;

    margin-bottom: 48px;
  }

  & .info-about {
    grid-column: 1 / 4;
    grid-row: 7;

    margin-bottom: 48px;

    & .info-about__title {
      margin: 0;
      margin-bottom: 10px;
    }

    & .info-about__description {
      font-size: 0.94em;
    }
  }

  & .info-future {
    grid-column: 1 / 4;
    grid-row: 8;

    margin-bottom: 48px;

    & .info-future__title {
      margin: 0;
      margin-bottom: 10px;
    }

    & .info-future__description {
      font-size: 0.94em;
    }

    & .info-future__checkmarks {
      & .info-future-field {
        position: relative;

        margin: 0;
        margin-right: 17px;

        display: inline-block;

        & input {
          opacity: 0;
          position: absolute;
          cursor: pointer;
        }

        & input + label,
        & input + label::before {
          cursor: pointer;
        }

        & input + label {
          margin: 0;
          margin-left: -8px;

          color: $color-text-checkbox;
          font-size: 1.25em;
          font-weight: bold;

          vertical-align: middle;
        }

        & input + label::before {
          content: url('../images/input-radio-border.png');
          display: inline-block;

          margin: 0;

          width: 42px;
          height: 45px;

          vertical-align: middle;
        }

        & input:checked + label::before {
          background: url('../images/input-radio-background-checked.png');
          background-repeat: no-repeat;
          background-position: 48% 70%;
        }
      }
    }
  }

  & .date {
    grid-column: 1 / 4;
    grid-row: 9;

    display: table-cell;

    & label {
      display: inline-block;
      vertical-align: bottom;

      font-size: 1.3em;
      font-weight: bold;
    }

    & input {
      display: inline-block;
      vertical-align: bottom;

      margin-left: 17px;
      padding: 0 16px;

      width: 206px;

      background: transparent;
      border-image: url(../images/input-text-border-bottom.png);
      border-image-slice: 4;
      border-bottom-width: 4px;
      border-top: none;
      border-left: none;
      border-right: none;

      font-family: 'Courier New', Courier, monospace;
      font-size: 1.8em;
      line-height: 1.5;
    }
  }
}
