html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Анкета – CSSSR
    link(rel="stylesheet", href="styles/sanitize.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    div.fullpage
      div.content
        img(src="images/logo.png", alt="Логотип").logo
        img(src="images/stamp.png", alt="Штамп").stamp
        img(src="images/delo.png", alt="Дело").title
        div.info-general
          div.info-general__field
            label(for="fullname") Полное ФИО
            input(type="text", name="fullname" value="Бондаренко Артём Алексеевич")
          div.info-general__field
            label(for="birth_year") Год рождения
            input(type="text", name="birth_year" value="1984")
          div.info-general__field
            label(for="location") Место жительства
            input(type="text", name="location" value="г. Электроугли, МО, Россия")
          div.info-general__field
            label(for="skype") Скайп
            input(type="text", name="skype" value="rents5")
          div.info-general__field
            label(for="email") Почта
            input(type="text", name="email" value="bonartyom@gmail.com")
        div.info-skills
          h2.info-skills__title Расскажите о себе чекбоксами
          p.info-skills__description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
          div.info-skills__checkmarks

