html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Анкета – CSSSR
    link(rel="stylesheet", href="styles/sanitize.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    div.fullpage
      div.content
        img(src="images/logo.png", alt="Логотип").logo
        img(src="images/stamp.png", alt="Штамп").stamp
        img(src="images/delo.png", alt="Дело").title
        div.info-general
          div.info-general__field
            label(for="fullname") Полное ФИО
            input(type="text", name="fullname" value="Бондаренко Артём Алексеевич")
          div.info-general__field
            label(for="birth_year") Год рождения
            input(type="text", name="birth_year" value="1984")
          div.info-general__field
            label(for="location") Место жительства
            input(type="text", name="location" value="г. Электроугли, МО, Россия")
          div.info-general__field
            label(for="skype") Скайп
            input(type="text", name="skype" value="rents5")
          div.info-general__field
            label(for="email") Почта
            input(type="text", name="email" value="bonartyom@gmail.com")
        div.info-skills
          h2.info-skills__title Расскажите о себе чекбоксами
          p.info-skills__description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
        div.info-skills__checkmarks-col1
          div.info-skills__field
            input(type="checkbox", id="methodology" name="methodology")
            label(for="methodology") БЭМ/OOCSS
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="templating" name="templating")
            label(for="templating") Pug(Jade)
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="preprocessor" name="preprocessor")
            label(for="preprocessor") Stylus/Less/SASS
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="svg" name="svg")
            label(for="svg") Работаю с SVG
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="semantics" name="semantics")
            label(for="semantics") Верстаю семантично
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="accessibility" name="accessibility")
            label(for="accessibility") Accessibility (A11Y)
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="es" name="es")
            label(for="es") ES2015/ES2016
              img(src="images/input-checkbox-background-checked.png", alt="")
        div.info-skills__checkmarks-col2
          div.info-skills__field
            input(type="checkbox", name="task_runner")
            label(for="task_runner") Gulp/GRUNT
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="bundler")
            label(for="bundler") Webpack
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="webgl")
            label(for="webgl") Дружу с WebGL
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="jquery")
            label(for="jquery") jQuery
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="angular")
            label(for="angular") Знаю/изучаю Angular
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="react")
            label(for="react") Знаю/изучаю React
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="node")
            label(for="node") Знаю/изучаю Node.js
              img(src="images/input-checkbox-background-checked.png", alt="")
        div.info-skills__checkmarks-col3
          div.info-skills__field
            input(type="checkbox", name="git")
            label(for="node") Использую Git
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="good_eye")
            label(for="node") С глазомером всё ОК
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="blog_csssr")
            label(for="node") Читаю blog.csssr.ru
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="laziness")
            label(for="node") Я ленивый(-ая)
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", name="good_english")
            label(for="node") У меня хороший английский
              img(src="images/input-checkbox-background-checked.png", alt="")

