html(lang="en")
  include includes/head
  body
    div.fullpage
      main.content
        img(src="images/confidential.png" alt="Stamp CONFIDENTIAL").stamp
        h1.title
          img(src="images/personal-file.png" alt="Title PERSONAL FILE")
        include includes/info-general
        include includes/info-skills/info-skills
        include includes/info-skills/info-skills__checkmarks-col1
        include includes/info-skills/info-skills__checkmarks-col2
        include includes/info-skills/info-skills__checkmarks-col3
        include includes/info-js
        include includes/info-about
        include includes/info-future
        section.date
          label(for="date") Date of filling
          input(type="text" name="date" id="date" value="2018/12/12")
    // build:js js/main.js
    script(src="js/main.js")
    // endbuild
