html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Анкета – CSSSR
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic")
    link(rel="stylesheet", href="styles/sanitize.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    div.fullpage
      div.content
        img(src="images/logo.png", alt="Логотип").logo
        img(src="images/stamp.png", alt="Штамп").stamp
        img(src="images/delo.png", alt="Дело").title
        div.info-general
          div.info-general__field
            label(for="fullname") Полное ФИО
            input(type="text", name="fullname" value="Бондаренко Артём Алексеевич")
          div.info-general__field
            label(for="birth_year") Год рождения
            input(type="text", name="birth_year" value="1984")
          div.info-general__field
            label(for="location") Место жительства
            input(type="text", name="location" value="г. Электроугли, МО, Россия")
          div.info-general__field
            label(for="skype") Скайп
            input(type="text", name="skype" value="rents5")
          div.info-general__field
            label(for="email") Почта
            input(type="text", name="email" value="bonartyom@gmail.com")
        div.info-skills
          h2.info-skills__title Расскажите о себе чекбоксами
          p.info-skills__description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
        div.info-skills__checkmarks-col1
          div.info-skills__field
            input(type="checkbox", id="methodology" name="methodology" checked)
            label(for="methodology") БЭМ/OOCSS
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="templating" name="templating" checked)
            label(for="templating") Pug(Jade)
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="preprocessor" name="preprocessor" checked)
            label(for="preprocessor") Stylus/Less/SASS
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="svg" name="svg")
            label(for="svg") Работаю с SVG
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="semantics" name="semantics" checked)
            label(for="semantics") Верстаю семантично
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="accessibility" name="accessibility")
            label(for="accessibility") Accessibility (A11Y)
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="es" name="es" checked)
            label(for="es") ES2015/ES2016
              img(src="images/input-checkbox-background-checked.png", alt="")
        div.info-skills__checkmarks-col2
          div.info-skills__field
            input(type="checkbox", id="task_runner" name="task_runner" checked)
            label(for="task_runner") Gulp/GRUNT
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="bundler" name="bundler" checked)
            label(for="bundler") Webpack
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="webgl" name="webgl")
            label(for="webgl") Дружу с WebGL
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="jquery" name="jquery" checked)
            label(for="jquery") jQuery
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="angular" name="angular")
            label(for="angular") Знаю/изучаю Angular
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="react" name="react" checked)
            label(for="react") Знаю/изучаю React
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="node" name="node")
            label(for="node") Знаю/изучаю Node.js
              img(src="images/input-checkbox-background-checked.png", alt="")
        div.info-skills__checkmarks-col3
          div.info-skills__field
            input(type="checkbox", id="git" name="git" checked)
            label(for="git") Использую Git
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="good_eye" name="good_eye" checked)
            label(for="good_eye") С глазомером всё ок
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="blog_csssr" name="blog_csssr")
            label(for="blog_csssr") Читаю #[a(href="https://blog.csssr.ru/", title="Блог компании CSSSR") blog.csssr.ru]
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="laziness" name="laziness")
            label(for="laziness") Я ленивый(-ая)
              img(src="images/input-checkbox-background-checked.png", alt="")
          div.info-skills__field
            input(type="checkbox", id="good_english" name="good_english" checked)
            label(for="good_english") <div>У меня хороший английский</div>
              img(src="images/input-checkbox-background-checked.png", alt="")
        div.info-js
          h2 Уровень владения JavaScript
          div.info-js__slider
        div.info-about
          h2.info-about__title Расскажите о себе словами
          p.info-about__description Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
        div.info-future
          h2.info-future__title Какие у вас планы на будущее?
          p.info-future__description Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
          div.info-future__checkmarks
            div.info-future-field
              input(type="radio", name="future" id="css")
              label(for="css") Верстать
            div.info-future-field
              input(type="radio", name="future" id="js" checked)
              label(for="js") Прокачиваться в JS
            div.info-future-field
              input(type="radio", name="future" id="management")
              label(for="management") Менеджерство
            div.info-future-field
              input(type="radio", name="future" id="other")
              label(for="other") Другое
        div.date
          label(for="date") Дата заполнения
          input(type="text", name="date" id="date" value="10.12.2018")

