section.info-skills__checkmarks-col1
  div.info-skills__field
    input(type="checkbox", id="methodology" name="methodology" checked)
    label(for="methodology") BEM/OOCSS
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="templating" name="templating" checked)
    label(for="templating") Pug(Jade)
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="preprocessor" name="preprocessor" checked)
    label(for="preprocessor") Stylus/Less/SASS
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="svg" name="svg")
    label(for="svg") `m the God of SVG
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="semantics" name="semantics" checked)
    label(for="semantics") Semantic HTML
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="accessibility" name="accessibility")
    label(for="accessibility") Accessibility (A11Y)
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="es" name="es" checked)
    label(for="es") ES2015/ES2016
      img(src="images/input-checkbox-background-checked.png", alt="")
