section.info-skills__checkmarks-col3
  div.info-skills__field
    input(type="checkbox", id="git" name="git" checked)
    label(for="git") use Git
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="good_eye" name="good_eye" checked)
    label(for="good_eye") have a good eye
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="csstricks" name="csstricks" checked)
    label(for="csstricks") read&nbsp;
      span.bloglink #[a(href="https://css-tricks.com/", title="CSS-Tricks" target="_blank") CSS-Tricks]
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="laziness" name="laziness")
    label(for="laziness") `m lazy
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="good_english" name="good_english" checked)
    label(for="good_english") <div>My English is good enough</div>
      img(src="images/input-checkbox-background-checked.png", alt="")
