-
  const items1 = [
    { name: 'methodology', label: 'BEM/OOCSS', checked: true },
    { name: 'templating', label: 'Pug(Jade)', checked: true },
    { name: 'preprocessor', label: 'Stylus/Less/SASS', checked: true },
    { name: 'svg', label: '`m the God of SVG', checked: false },
    { name: 'semantics', label: 'Semantic HTML', checked: true },
    { name: 'accessibility', label: 'Accessibility (A11Y)', checked: false },
    { name: 'es', label: 'ES2015/ES2016', checked: true },
  ];

mixin field(name, label, checked)
  div.info-skills-field
    input(type="checkbox" id=name name=name checked=checked).info-skills-field__input
    label(for=name).info-skills-field__label=label
      img(src="images/input-checkbox-background-checked.png" alt="Checkmark").info-skills-field__tick-image

section.info-skills-checkmarks-col1
  each item in items1
    +field(item.name, item.label, item.checked)
