section.info-skills__checkmarks-col2
  div.info-skills__field
    input(type="checkbox", id="task_runner" name="task_runner" checked)
    label(for="task_runner") Gulp/GRUNT
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="bundler" name="bundler" checked)
    label(for="bundler") Webpack
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="webgl" name="webgl")
    label(for="webgl") WebGL is my friend
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="jquery" name="jquery" checked)
    label(for="jquery") jQuery
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="angular" name="angular")
    label(for="angular") know/learn Angular
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="react" name="react" checked)
    label(for="react") know/learn React
      img(src="images/input-checkbox-background-checked.png", alt="")
  div.info-skills__field
    input(type="checkbox", id="node" name="node")
    label(for="node") know/learn Node.js
      img(src="images/input-checkbox-background-checked.png", alt="")
