-
  const items2 = [
    { name: 'task_runner', label: 'Gulp/GRUNT', checked: true },
    { name: 'bundler', label: 'Webpack', checked: true },
    { name: 'webgl', label: 'WebGL is my friend', checked: false },
    { name: 'jquery', label: 'jQuery', checked: true },
    { name: 'angular', label: 'know/learn Angular', checked: false },
    { name: 'react', label: 'know/learn React', checked: true },
    { name: 'node', label: 'know/learn Node.js', checked: false },
  ];

mixin field(name, label, checked)
  div.info-skills__field
    input(type="checkbox" id=name name=name checked=checked)
    label(for=name)=label
      img(src="images/input-checkbox-background-checked.png" alt="Checkmark")

section.info-skills__checkmarks-col2
  each item in items2
    +field(item.name, item.label, item.checked)
