head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Bondarenko A. | Personal File
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic")
  // build:css styles/main.css
  link(rel="stylesheet", href="styles/sanitize.css")
  link(rel="stylesheet", href="styles/main.css")
  // endbuild
