section.info-general
  div.info-general__field
    label(for="full_name") Full Name
    input(type="text", id="full_name" name="full_name" value="Bondarenko Artyom")
  div.info-general__field
    label(for="birth_year") Year of Birth
    input(type="text", id="birth_year" name="birth_year" value="1984")
  div.info-general__field
    label(for="location") Address
    input(type="text", id="address" name="address" value="Moscow Region, Russia")
  div.info-general__field
    label(for="skype") Skype
    input(type="text", id="skype" name="skype" value="rents5")
  div.info-general__field
    label(for="email") Email
    input(type="text", id="email" name="email" value="bonartyom@gmail.com")
