section.info-future
  h2.info-future__title Plans for the future
  p.info-future__description
  div.info-future__checkmarks
    div.info-future-field
      input(type="radio" name="future" id="css").info-future-field__input
      label(for="css").info-future-field__label Write plain CSS
    div.info-future-field
      input(type="radio" name="future" id="js" checked).info-future-field__input
      label(for="js").info-future-field__label Hone JS skills
    div.info-future-field
      input(type="radio" name="future" id="management").info-future-field__input
      label(for="management").info-future-field__label Become a manager
    div.info-future-field
      input(type="radio" name="future" id="not_listed").info-future-field__input
      label(for="not_listed").info-future-field__label Not listed
