section.info-future
  h2.info-future__title Plans for the future
  p.info-future__description
  div.info-future__checkmarks
    div.info-future-field
      input(type="radio", name="future" id="css")
      label(for="css") Write plain CSS
    div.info-future-field
      input(type="radio", name="future" id="js" checked)
      label(for="js") Hone JS skills
    div.info-future-field
      input(type="radio", name="future" id="management")
      label(for="management") Become a manager
    div.info-future-field
      input(type="radio", name="future" id="not_listed")
      label(for="not_listed") Not listed
